# Thesis: LaTex Auxiliary files
Thesis/*.log
Thesis/**/*.aux
Thesis/*.fdb_latexmk
Thesis/*.fls
Thesis/*.pdf
Thesis/*.synctex.gz
Thesis/*.synctex(busy)
Thesis/*.bbl
Thesis/*.blg
Thesis/*.bcf
Thesis/*.lot
Thesis/*.lof
Thesis/*.toc
Thesis/pdfa.xmpi
Thesis/*.run.xml

# MeteorShowerIdentificationConsole: Cache and build files
MeteorShowerIdentificationConsole/**/__pycache__
meteors.spec
build/
dist/